.client_baner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),url('./ClientAssest/client_baner.png');
}.client_list {
    width: 204px;
    height: 127px;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid #c5c5c5;
}
.client_image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0
}
.client_image img {
    width: 80%;
    vertical-align: middle;
}
